<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>

// var myNewDate = new Date()
// var myDate = new Date(2021,3,5)
// myDate.setFullYear('2029')
// myDate.setMonth('8')
// myDate.setDate('6')

// var myDate11 = new Date();
// var curTime = getTime(myDate11);

// document.write( myNewDate + "<br>" + myDate + "<br>" + curTime )


             

function send_fetch(){
         
          var chartState = Chart.getChart('myChart')
                if(chartState != undefined) {
                      chartState.destroy()                      
                }
                   
          var chartType = document.getElementById('sltType').value
          var state = document.getElementById('sltState').value
          var processedId = document.getElementById('sltId').value
          var month = document.getElementById('sltMonth').value
         
          fetch('/smis/chart/bindChart',{
              method: 'POST',
              headers: {
               'Content-Type':'application/json'
              },
              body: JSON.stringify({                
                'state':state,
                'processedId':processedId,
                'month':month                
              })
          }).then((res)=>res.json())
            .then((res)=>{                                 
                  
                 var requestCompany = []
                 var totalCount = []                 
                 
                 if(!res.isAssigned){
                    alert(`no data , ${res.isAssigned}`)                    
                 }
                 else {
                    for(var index=0; index < res.requestCompany.length; index++) {
                      requestCompany.push(res.requestCompany[index])
                      totalCount.push(res.totalCount[index])
                    }                 
                    bind_chart(requestCompany,totalCount,chartType)
                 }                                                
            })
       }



       function bind_chart(requestCompany,totalCount,chartType){      

                alert(requestCompany+totalCount+chartType)             

                // let myChart = new Chart(ctx,{})
                // if(myChart !== undefined) {
                //   myChart.destroy()
                //   alert('destory!')
                // }

                
              //  var myChart = undefined

              //  if(myChart !== undefined) {
              //                   myChart.destroy()
              //  }
              
                const ctx = document.getElementById('myChart');
                
                //ctx.clear()
                
                  var myChart = new Chart(ctx, {
                  type: chartType,
                  tooltips:{
                    mode:"index" ,  // 라벨에 mouseover시 tooltip보이기
                    intersect: false,
                  },
                  legend:{
                    display: false, //범례 숨기기
                  },
                  data: {
                    labels: requestCompany,
                    datasets: [{
                      label: '완료건',
                      //barPercentage: 0.5,
                      barThickness: 90,  //bar굵기
                      // maxBarThickness: 8,  //최대 막대 두께
                      // minBarLength: 2,
                      data: totalCount,
                      datalabels: {
                         display: true,  // false: 값을 숨김
                         aligh: "right",
                         anchor: "end",
                         color: "#898989",
                         borderWidht: 2,
                         padding: {
                            bottom: 0,
                            left: 20
                         }
                      },
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(255, 159, 64, 0.2)',
                          'rgba(255, 205, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(201, 203, 207, 0.2)'
                      ],
                      borderColor: [
                          'rgb(255, 99, 132)',
                          'rgb(255, 159, 64)',
                          'rgb(255, 205, 86)',
                          'rgb(75, 192, 192)',
                          'rgb(54, 162, 235)',
                          'rgb(153, 102, 255)',
                          'rgb(201, 203, 207)'
                      ],
                      borderWidth: 1
                    }]
                  },
                  options: {
                    scales: {
                      y: {
                        beginAtZero: true
                      }
                    }
                  }
                });
           

                // const ctx = document.getElementById('myChart');                              
                // const labels = requestCompany  

                // if(myChart !== undefined) {
                //   myChart.destroy()
                // }
                // myChart = new Chart(ctx, {
                //   //type: 'bar',
                //   type: chartType,
                //   data: {
                //     labels: labels,
                //     datasets: [
                //       { label: '5월 처리건',
                //       data: totalCount,         
                //       borderWidth: 1
                //        }                    
                //     ]
                //   },
                //   options: {
                //     scales: {
                //       y: {
                //         beginAtZero: true
                //       }
                //     },
                //     indexAxis: 'y'  // bar를 가로로 출력      
                //   }
                // });
            }
    
    </script>







  <select id="sltType">
    <option value="bar" selected="true">bar</option>
    <option value="pie" >pie</option>
    <option value="line" >line</option>
    <option value="doughnut">doughnut</option>   
  </select>&nbsp;

  <select id="sltState">
    <option value="1" >접수</option>
    <option value="2">보류</option>
    <option value="3" selected="true">완료</option>
  </select>&nbsp;
  
  <select id="sltId">
    <option value="1090630" selected="true">1090630</option>
    <option value="1090667">1090667</option>
    <option value="1040397">1049397</option>
  </select>&nbsp;
  
  <select id="sltMonth">    
    <option value="12">12월</option>
    <option value="11" selected>11월</option>
    <option value="10">10월</option>
    <option value="9">9월</option>
    <option value="8">8월</option>
    <option value="7">7월</option>
    <option value="6">6월</option>

  </select>&nbsp;

  <input type="button" value="확인" onclick="javascript:send_fetch()" >


<!-- -->
  
  <div style="width: 1000px; height: 1000;" >
    <canvas id="myChart"  ></canvas>
  </div>  





 <script >
   
 
 
</script>



  
<!-- -->







  <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <div>
        <canvas id="myChart"></canvas>
  </div>  

  <script>
    function bind_chart() {
               const ctx = document.getElementById('myChart');      
                const labels = ['현대자동차', '홈플러스', '해군', '기아자동차']    
                new Chart(ctx, {
                  type: 'bar',
                  data: {
                    labels: labels,
                    datasets: [
                      { label: '5월 처리건',
                      data: [ 107, 68, 36, 74 ],         
                      borderWidth: 1 },
                      { label: '4월 처리건',
                      data: [ 65, 101, 34, 80 ],         
                      borderWidth: 1 },
                    ]
                  },
                  options: {
                    scales: {
                      y: {
                        beginAtZero: true
                      }
                    },        
                  }
                });
    }
    
  </script>  -->
   

